<section id="dashboard-view" class="container-fluid">

    <h1>Trader Desktop</h1>

    <div class="row">

        <div class="col-sm-8 col-md-8 main">
            <div class="row">
                <div class="col-xs-12">
                    <p>                        
                        <!-- Modal -->
                        <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#myModal" ng-click="vm.createOrder()">Create</button>
                        <button class="btn btn-sm btn-default" ng-click="vm.refreshOrders()">Refresh</button>
                        <button class="btn btn-sm btn-default" ng-click="vm.clearOrders()">Clear</button>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th class="col-sm-hide">Creation Time</th>
                                    <th>Side</th>
                                    <th>Symbol</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right col-sm-hide">Placed</th>
                                    <th class="text-right col-sm-hide">Executed</th>
                                    <th class="text-right">Limit Price</th>
                                    <th class="text-right col-sm-hide col-md-hide">Priority</th>
                                    <th class="col-sm-hide">Status</th>
                                    <th class="col-sm-hide col-md-hide">Trader</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr data-ng-repeat="a in vm.orders">
                                    <td>
                                        <small>{{a.id}}</small>
                                    </td>
                                    <td class="col-sm-hide">{{a.creationTime | date:'hh:mm' }}</td>
                                    <td>{{a.side}}</td>
                                    <td>
                                        <b>{{a.symbol}}</b>
                                    </td>
                                    <td>{{a.quantity }}</td>
                                    <td class="text-right col-sm-hide">{{a.quantityPlaced }}</td>
                                    <td class="text-right col-sm-hide">{{a.quantityExecuted }}</td>
                                    <td class="text-right">{{a.limitPrice | currency}}</td>
                                    <td class="text-right col-sm-hide col-md-hide">{{a.priority}}</td>
                                    <td class="col-sm-hide">{{a.status}}</td>
                                    <td class="col-sm-hide col-md-hide">{{a.traderId}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 chart-column">
                    <div data-at-barchart data-assets="vm.orders" class="chart-container"></div>
                </div>
            </div>
        </div><!-- main -->

    </div><!-- row -->

</section>
